{% extends 'inv_home/inv_layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                   
                   
                     <!-- graph -->
                     <div class="row column2 graph margin_bottom_30">
                      
                          <div class="col-md-7 col-lg-7">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Edit Evidence Details</h2>
                                 </div>
                              </div>
                              <div class="full graph_revenue">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="content">
                                          <div class="area_chart">
                                            <form action="{% url 'update_evidence' %}" method="post" enctype="multipart/form-data">

                                          {% csrf_token %}
                                          <input type="hidden" name="eid" value="{{ e.crime_evidence_id }}">
                                          <input type="hidden" name="cid" value="{{ e.fk_crime_id }}">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text"class="form-control" name="fname"pattern="^[A-Za-z ]+$"
       title="Only letters and spaces are allowed" value="{{ e.evidence_file_name }}" required>   </div><div class="form-group">
       <label>Evidence Type</label>
       <select name="ftype" class="form-control">
        <option>Select</option>
        <option value="Image" {% if e.evidence_file_type == "Image" %}selected{% endif %} >Image</option>
         <option value="Pdf" {% if e.evidence_file_type == "Pdf" %}selected{% endif %}>Pdf</option>
          <option value="Docx" {% if e.evidence_file_type == "Docx" %}selected{% endif %}>Docx</option>
           <option value="Video" {% if e.evidence_file_type == "Video" %}selected{% endif %}>Video</option>
       </select></div>
       <div class="form-group">
                   <label>Uploaded Date</label> 
       <input type="date" class="form-control" name="ev_date" max="{% now 'Y-m-d' %}" required>                            
                                            </div>
                                            <div class="form-group">
                                            <input type="submit" class="btn btn-success" value="Save">
                                            <input type="reset" class="btn btn-danger" value="Cancel">
                                           </div> </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>


                          <div class="col-md-5 col-lg-5">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Change Evidence</h2>
                                 </div>
                              </div>
                              <div class="full graph_revenue">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="content">
                                          <div class="area_chart">
                                            <form action="{% url 'update_evidence' %}" method="post" enctype="multipart/form-data">

                                          {% csrf_token %}
                                            
       <div class="form-group">
                   <label>Evidence</label> 
                    {% if edata.evidence_file_type == "Image" %}

    <a href="{% get_media_prefix %}/{{ edata.evidence_file }}" target="_blank" class="btn btn-default"><img src="{% get_media_prefix %}/{{ edata.evidence_file}}" alt="{{ e.evidence_file_name }}" target="_blank"width="70" height="70"></a>
{% elif e.evidence_file_type == "Pdf" %}
    <a href="{% get_media_prefix %}/{{ edata.evidence_file }}" target="_blank" class="btn btn-default">
    <img src="{% static 'pdf_image.png' %}" width="70" height="70" alt="{{ e.evidence_file_name }}">
</a>

{% elif edata.evidence_file_type == "Docx" %}
   <a href="{% get_media_prefix %}/{{ edata.evidence_file }}" target="_blank" class="btn btn-default">
    <img src="{% static 'docx.png' %}" width="70" height="70" alt="{{ e.evidence_file_name }}">
</a>
{% elif edata.evidence_file_type == "Video" %}
 <a href="{% get_media_prefix %}{{ edata.evidence_file }}" target="_blank" class="btn btn-default">
    <video width="70" height="70">
        <source src="{% get_media_prefix %}{{ edata.evidence_file }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</a>
{% else %}
    No preview available
{% endif %}
       <input type="file"class="form-control" name="ev_file" required value="{{ edata.evidence_file }}">                            
                                            </div>
                                            
                                            <input type="hidden" name="eid" value="{{edata.crime_evidence_id}}">
                                             <input type="hidden" name="cid" value="{{edata.fk_crime_report_id}}">
                                             <div class="form-group">
                                            <input type="submit" class="btn btn-success" value="Save">
                                            <input type="reset" class="btn btn-danger" value="Cancel">
                                           </div> </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                   
                  
                   
                  </div>
                  {% endblock %}