{% extends 'inv_home/inv_layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
   <div class="row column_title">
      <div class="col-md-12">
         <div class="page_title">
            <h2>Dashboard</h2>
         </div>
      </div>
   </div>


   <!-- graph -->
   <div class="row column2 graph margin_bottom_30">
      <div class="col-md-8 col-lg-8">
         <div class="white_shd full">
            <div class="full graph_head">
               <div class="heading1 margin_0">
                  <h2>Investigation Notes <a href="{% url 'crime_assigned' %}" class="btn btn-sm btn-warning"
                        style="margin-left: 200px;"><i class="fa fa-arrow-left"></i> Back</a></h2>
               </div>
            </div>
            <div class="full graph_revenue">
               <div class="row">
                  <div class="col-md-12">
                     <div class="content">
                        <div class="area_chart">
                           <table class="table">
                              <tr>
                                 <th>Investigation Notes</th>
                                 <th>Investigation Date</th>
                                 <th>Status</th>
                                 <th>Actions</th>
                              </tr>
                               {% for i in idata %}
                             <tr>
                              <td>{{ i.investigation_note }}</td>
                              <td>{{ i.note_created_date|date:'d-m-Y' }}</td>
                              <td>{{ i.investigation_status }}</td>
                               <td>
                                 <a href="{% url 'edit_investigation_note' i.investigation_note_id %}" class="btn btn-sm btn-warning">Edit</a>
                                 <a href="{% url 'delete_investigation_note' i.investigation_note_id crime_id %}" class="btn btn-sm btn-warning">Delete</a>
                              </td>
                              </tr>
                              
                               {% endfor %}                              
                           </table>




                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-lg-4">
         <div class="white_shd full">
            <div class="full graph_head">
               <div class="heading1 margin_0">
                  <h2>Add Investigation Notes</h2>
               </div>
            </div>
            <div class="full graph_revenue">
               <div class="row">
                  <div class="col-md-12">
                     <div class="content">
                        <div class="area_chart">
                           <form action="{% url 'save_investigation_note' %}" method="post"
                              enctype="multipart/form-data">

                              {% csrf_token %}
                              <div class="form-group">
                                 <label>Investigation Note</label>
                                 <textarea class="form-control" name="inv_note" pattern="^[A-Za-z ]+$"
                                    title="Only letters and spaces are allowed" required>  </textarea>
                              </div>
                              <div class="form-group">
                                 <label>Investigation Status</label>
                                 <select name="status" class="form-control">
                                    <option>Select</option>
                                    <option value="Under Review">Under Review</option>
                                    <option value="In Investigation">In Investigation</option>
                                    <option value="Resolved">Resolved</option>
                                    <option value="Closed">Closed</option>
                                 </select>
                              </div>

                              <div class="form-group">
                                 <label>Uploaded Date</label>
                                 <input type="date" class="form-control" name="note_date" max="{% now 'Y-m-d' %}" required>
                              </div>
                              <input type="hidden" name="cid" value="{{crime_id}}">
                              <div class="form-group">
                                 <input type="submit" class="btn btn-success" value="Save">
                                 <input type="reset" class="btn btn-danger" value="Cancel">
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>



</div>
{% endblock %}